<div class="min-h-screen h-auto flex flex-col bg-ivory-500 gap-10 mb-20">
    <h1 class="text-3xl mt-6 mx-4">{{selectedEvent?.name}}</h1>
    <div class="mx-4">
        <p class="text-md font-semibold">{{selectedEvent?.description}}</p>
    </div>
    <div class="flex flex-row gap-8">
    
    <div class="avatar-group -space-x-6 rtl:space-x-reverse mx-4">
        @for (attendee of selectedEvent?.attendees; track attendee) {
        <div class="avatar">
          <div class="w-12">
            <img src={{attendee.avatar}} />
          </div>
        </div>
        }
        @if (selectedEvent && selectedEvent.attendees && selectedEvent.attendees.length > 3) {
        <div class="avatar placeholder">
          <div class="w-12 bg-neutral text-neutral-content">
            <span>+{{selectedEvent.attendees.length -3}} Attendees</span>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="card w-96 bg-ivory-500 place-self-center shadow-xl">
        <figure><img src={{selectedEvent?.photo}} style="object-fit: cover;" alt="Shoes" /></figure>
        <div class="card-body flex flex-row flex-wrap  gap-8">
            <div class="flex flex-col gap-8 justify-between w-1/2">
                <div class="flex flex-row gap-4 ">
                    <ng-icon name="ionCalendarSharp" size="1.3rem" class="place-self-center pr-4"></ng-icon>
                    <div class="flex flex-col">
                        <p class="text-md font-medium">Date</p>
                        <p class="text-sm">{{ selectedEvent?.startTime?.seconds| FirestoreTimestamp: selectedEvent?.startTime?.nanoseconds | date }}</p>
                    </div>
                </div>
                <div class="flex flex-row gap-4 ">
                    <ng-icon name="ionLocationSharp" class="place-self-center pr-4" size="1.3rem"></ng-icon>
                    <div class="flex flex-col">
                        <p class="text-md font-medium">Place</p>
                        <div class="tooltip p-0 m-0 " [attr.data-tip]='selectedEvent?.location'>
                            <p class="text-sm line-clamp-1 right-[50%]">{{selectedEvent?.location}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-8 text-wrap">
            <div class="flex flex-row gap-4">
                <ng-icon name="ionTimeOutline" class="place-self-center pr-4" size="1.3rem"></ng-icon>
                <div class="flex flex-col">
                    <p class="text-md font-medium">Time</p>
                    <p class="text-sm">{{ selectedEvent?.startTime?.seconds| FirestoreTimestamp: selectedEvent?.startTime?.nanoseconds | date:'HH:mm' }}-{{ selectedEvent?.endTime?.seconds| FirestoreTimestamp: selectedEvent?.endTime?.nanoseconds | date:'HH:mm' }}</p>
                </div>
            </div>
            
            <div class="flex flex-row gap-4">
                <ng-icon name="ionCashOutline" class="place-self-center pr-4" size="1.3rem"></ng-icon>
                <div class="flex flex-col">
                    <p class="text-md font-medium">Cost</p>
                    <p class="text-sm">{{selectedEvent?.cost | currency: selectedCurrency : "symbol-narrow"}}</p>
                </div>
            </div>
        </div>

        </div>
      </div>



</div>