<div class="flex flex-col gap-4 overflow-scroll">
  <section class="flex flex-col gap-4">
    <p class="text-xl font-medium">Los Angeles Trip</p>
    <div class="carousel carousel-center rounded-box flex flex-row gap-3">
      <div class="carousel-item">
        <div class="badge badge-outline">All</div>
      </div>
      <div class="carousel-item">
        <div class="badge badge-outline">Today</div>
      </div>
      <div class="carousel-item">
        <div class="badge badge-outline">Tomorrow</div>
      </div>
      <div class="carousel-item">
        <div class="badge badge-outline">21</div>
      </div>
      <div class="carousel-item">
        <div class="badge badge-outline">22</div>
      </div>
      <div class="carousel-item">
        <div class="badge badge-outline">23</div>
      </div>
      <div class="carousel-item">
        <div class="badge badge-outline">24</div>
      </div>
    </div>
  </section>
  <section class="mt-10">
    <ul class="timeline timeline-vertical">
      <li class="-ml-44">
        <div class="timeline-start text-md font-medium">17:00</div>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="timeline-end timeline-box bg-ivory-600 shadow-md">
          <p class="text-md font-medium">Kunye</p>

          <p class="text-md font-medium">Botanical Gardens Pretoria</p>
          <a class="text-md font-medium">View Details</a>
        </div>
        <hr />
      </li>
      <li class="-ml-44">
        <div class="timeline-start text-md font-medium">19:00</div>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="timeline-end timeline-box bg-ivory-600 shadow-md">
          <p class="text-md font-medium">Kunye</p>

          <p class="text-md font-medium">Botanical Gardens Pretoria</p>
          <a class="text-md font-medium">View Details</a>
        </div>
        <hr />
        <hr />
      </li>

      <li class="-ml-44">
        <hr />
        <div class="timeline-start text-md font-medium">21:30</div>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="timeline-end timeline-box bg-ivory-600 shadow-md">
          <p class="text-md font-medium">Kunye</p>

          <p class="text-md font-medium">Botanical Gardens Pretoria</p>
          <a class="text-md font-medium">View Details</a>
        </div>
      </li>
    </ul>
  </section>
</div>
