<div class="flex flex-col gap-4 overflow-scroll">
  <section class="flex flex-col gap-4">
    <p class="text-xl font-medium">{{selectedTrip?.title}} • Total Cost: {{totalCostSelectedTrip | currency: selectedCurrency : "symbol-narrow"}}</p>
    <div class="carousel carousel-center rounded-box flex flex-row gap-3">
        <div class="carousel-item">
            <div class="badge badge-outline" (click)="dayClicked('All')">All</div>
        </div>
        @for (day of selectedTripDays; track day) {
            <app-trip-panel-days-badges [day]="day" (dayClick)="dayClicked(day)"></app-trip-panel-days-badges>
        }
    </div>
  </section>
  <section class="mt-10">
    <ul class="timeline timeline-vertical">
        @for (item of selectedTripItemsByDay; track item.id) {
      <li class="-ml-44">
        @if (selectedTripDay == 'All') {
            <div class="timeline-start text-md font-medium">{{ item?.startTime?.seconds| FirestoreTimestamp: item?.startTime?.nanoseconds | date:'dd MMM' }}</div>
        }
        @else {
            <div class="timeline-start text-md font-medium">{{ item?.startTime?.seconds| FirestoreTimestamp: item?.startTime?.nanoseconds | date:'HH:mm' }}</div>
        }
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="timeline-end timeline-box bg-ivory-600 shadow-md">
          <p class="text-md font-medium">{{item.name}}</p>

          <p class="text-md font-medium">{{item.tags.join(' • ')}}</p>
          <a class="text-md font-medium">View Details</a>
        </div>
        <hr />
        <hr />
      </li>
    }
    </ul>
  </section>
</div>
