<section class="flex flex-col gap-4 items-center">
  <p class="text-neutral-700">Already a member?</p>
  <a
    role="button"
    routerLink="login"
    class="w-11/12 h-14 btn mb-2 bg-caribbean_current-900 text-midnight_green-400 text-lg"
    >Login</a
  >
  <p class="text-neutral-700">Don't have an account?</p>
  <div class="flex flex-col gap-8 flex-wrap w-11/12">
    <div class="flex flex-row gap-2 justify-between">
      <a role="button" class="w-5/12 h-14 btn bg-vermilion text-neutral-50 text-lg">
        <ng-icon name="jamGoogle"></ng-icon>Google
      </a>
      <a role="button" class="w-5/12 h-14 btn bg-neutral-950 text-neutral-50 text-lg">
        <ng-icon name="jamGithub"></ng-icon>Github
      </a>
    </div>
    <a
      role="button"
      routerLink="register"
      class="w-full h-14 btn bg-caribbean_current-900 text-midnight_green-400 text-lg"
      >Sign Up</a
    >
  </div>
</section>
