<div class="card w-56 bg-ivory-500 place-self-center shadow-xl h-80">
    <div class="card-body flex flex-col flex-wrap  gap-4">
      
            <p class="text-md font-semibold">{{item?.name}}</p>
            <p class="line-clamp-3">KUNYE, brings together artists and fans as a music family, combined in our celebration of what is innately ours, proudly South African and supportive of each other. Together As One.</p>
            <div class="flex flex-row gap-2 ">
                <ng-icon name="ionLocationSharp" class="place-self-center pr-4" size="1rem"></ng-icon>
                <div class="flex flex-col">
                    <p class="text-sm font-medium">Place</p>
                    <p class="text-xs line-clamp-1">National Botanical Gardens, Pretoria</p>
                </div>
            </div>
        

        <div class="flex flex-row gap-2">
            <ng-icon name="ionTimeOutline" class="place-self-center pr-4" size="1rem"></ng-icon>
            <div class="flex flex-col">
                <p class="text-sm font-medium">Time</p>
                <p class="text-xs">{{ item?.startTime?.seconds| FirestoreTimestamp: item?.startTime?.nanoseconds | date:'HH:mm' }}-{{ item?.endTime?.seconds| FirestoreTimestamp: item?.endTime?.nanoseconds | date:'HH:mm' }}</p>
            </div>
        </div>
        
        
        <div class="flex flex-row gap-2">
            <ng-icon name="ionCashOutline" class="place-self-center pr-4" size="1rem"></ng-icon>
            <div class="flex flex-col">
                <p class="text-sm font-medium">Cost</p>
                <p class="text-xs">{{item?.cost}}</p>
            </div>
        </div>
        <a class="-mt-2 place-self-center text-xs">View details</a>
        </div>
       
   
  </div>