<div class="w-full h-svh bg-top bg-cover flex flex-col gap-40" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/retreat-radar.appspot.com/o/notfound.webp?alt=media&token=a4ad1dc8-154d-420d-8665-832b82864616');">
    <p class="text-6xl font-bold place-self-center text-center mt-10 text-ivory-500">OOPS!</p>
    <p class="text-2xl font-semibold  text-ivory-500 -mt-32 mx-4 text-center">Looks like we've wandared off the radar</p>
    <a routerLink="/app/home" class="btn  text-2xl border-none font-semibold text-ivory-500 w-2/3 h-fit place-self-center shadow-sm drop-shadow-md shadow-midnight_green-900 -mt-[-14rem] bg-midnight_green-500">Let's Retreat Back Home</a>
</div>