<div class="flex flex-col gap-8 h-screen bg-ivory-500">
    <section class="flex flex-row justify-between mt-4 mx-4">
        <div class="flex flex-col">
            <p class="text-2xl font-semibold">All Trips</p>
            <p class="text-md text-neutral-500 font-medium">{{allTripsList.length}} Trips</p>
        </div>
        <div>
            <button class="btn btn-square btn-outline">
                <ng-icon name="ionAddSharp" size="2rem" onclick="my_modal_trip.showModal()"></ng-icon>
            </button>
            <dialog id="my_modal_trip" class="modal modal-bottom sm:modal-middle">
                <div class="modal-box bg-midnight_green-900 max-h-[75%]">
                  <form method="dialog">
                    <button class="btn btn-ghost text-vermilion-300 -ml-4 text-lg">Cancel</button>
                  </form>
                  <app-add-trip-form-container />
                  
                </div>
            </dialog>
        </div>
    </section>
    <main class="flex flex-col gap-4 shadow-sm bg-ivory-500">
        @for (trip of allTripsList; track trip.id) {
            <app-all-trips-card [trip]="trip" [tripItems]="allItemsList" [selectedTrip]="selectedTrip" (onTripClick)="handleTripClick(trip)" (onTripViewClick)="handleTripViewClick(trip)" (onTripDeleteClick)="handleTripDeleteClick($event)" [selectedCurrencyCard]="selectedCurrency"></app-all-trips-card>
        }
    </main>
</div>