<form class="w-full flex flex-col gap-6 rounded-md">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-xl font-medium text-neutral-950">Title</span>
    </div>
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs bg-midnight_green-800 placeholder:text-neutral-700"
      [formControl]="itemNameFormControl"
    />
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-xl font-medium text-neutral-950">Cost</span>
    </div>
    <input
      type="number"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs bg-midnight_green-800 placeholder:text-neutral-700"
      [formControl]="costFormControl"
    />
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-xl font-medium text-neutral-950">Currency</span>
    </div>
    <select class="select w-full max-w-xs bg-midnight_green-800" [formControl]="currencyFormControl"> 
      <option [defaultSelected]="true">ZAR</option>
      <option>USD</option>
      <option>GBP</option>
    </select>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-xl font-medium text-neutral-950">Start at</span>
    </div>
    <input
      type="datetime-local"
      id="event-time"
      name="meeting-time"
      value="2018-05-02T06:30"
      min="2018-05-02T06:30"
      class="bg-midnight_green-800 p-4 rounded-md text-md font-semibold"
      [formControl]="startTimeFormControl"
    />
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text text-xl font-medium text-neutral-950">End at</span>
    </div>
    <input
      type="datetime-local"
      id="event-time"
      name="meeting-time"
      value="2018-05-02T06:30"
      min="2018-05-02T06:30"
      class="bg-midnight_green-800 p-4 rounded-md text-md font-semibold"
      [formControl]="endTimeFormControl"
    />
  </label>
  <div class="label">
    <span class="label-text text-xl font-medium text-neutral-950">Select at least 1 tag (max 3)</span>
  </div>
  <div class="flex flex-row flex-wrap gap-4">
  @for (tag of tags; track tag) {
    <div class="">
      <input type="checkbox" name="" id="{{ tag }}" class="hidden peer" (click)="ValidateTags($event)" />
      <label class="badge badge-outline h-10 peer-checked:bg-midnight_green-700" for="{{ tag }}">{{ tag }}</label>
    </div>
    }
    </div>
  <div class="modal-action">
    <form method="dialog" class="flex flex-row justify-between">
      <button class="btn place-self-start" type="submit" [disabled]="!addItemForm.valid || selectedTags.length == 0" (click)="onSaveClick()">Save</button>
    </form>
</div>
</form>
